<!-- Cookie Consent Banner -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.2/dist/cookieconsent.css"
      integrity="sha384-1Vg0QqjBBDnNSPh5RTyVZ3S+qD3pTK3brzzk4xhPh1ZY8krBHui7nphwLKRE8yLt" 
      crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.2/dist/cookieconsent.js"
        integrity="sha384-mFZm6kAejuZn/kcj591mf9YhyaZTFUz7C/SvNEIHUn5gtA3YCpA7MdDEUJ3tBf2p" 
        crossorigin="anonymous"></script>